.drop-img {
  width: -webkit-fill-available;
  object-fit: cover;
  height: -webkit-fill-available;
  position: relative;
}

.alter-section {
  position: absolute;
  height: 2rem;
  top: 50%;
  right: 47%;
  visibility: hidden;
  display: flex;
  align-items: center;
  z-index: 9999999;
  opacity: 0;
  /* Set initial opacity to 0 */
  transition: opacity 0.3s ease;
}

.drop-img:hover ~ .alter-section,
.alter-section:hover {
  visibility: visible;
  opacity: 1;
  /* Change opacity to fully visible */
}

.drop-img:hover {
  opacity: 0.8;
}
.alter-section:hover ~ .drop-img {
  opacity: 0.8;
}
